/* место для вашего кода */

body {
    background: white;
}



.header {
    display: grid;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    padding: 92px 50px;
    grid-template-columns: repeat(3, 1fr);
}

.menu {
    flex-grow: 1;
}

.menu__link {
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}

.menu__link-item:not(:last-child) {
    padding-right: 32px;
}

.text-decoration-underline {
    text-decoration-line: underline;
}

.text-decoration-none {
    text-decoration-line: none;
}

.bulit_circle {
    list-style-type: circle;
    font-size: 18px;
}

.bulit_none {
    list-style-type: none;
}


.logo__link {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}

.logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-family: Raleway, sans-serif;
    display: flex;
    flex-grow: 1;
}

.address-justify-start {
    justify-content: flex-start;
}

.address-justify-end {
    justify-content: flex-end;
}

.address_link {
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

.address_link-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    max-width: 240px;
}

.text-underline-offset {
    text-underline-offset: 4px;
}

.content {
    position: relative;
}

.lens::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lens::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);;
}

.content::before {
    background: center / cover no-repeat url("../images/cover.jpg");
    z-index: -2;
}

.content::after {
    z-index: -1;
}

.content__title {
    display: grid;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 0.3em;
    padding: 165px 50px 137px;
    gap: 20px;
    line-height: 100%;
}

.content__title-container-right {
    line-height: 115%
}

.content__title-container_center {
    text-align: center;

}

.content__title-container_left {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.letter-spacing-narrow {
    letter-spacing: 0.3em;
}

.letter-spacing-reset {
    letter-spacing: 0;
}

.content_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 50px;
}

.text-section {
    align-self: center;
    padding-right: 78px;
}

.button {
    margin-right: 50px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 32px;
}

.word-spacing-extended {
    word-spacing: 18px;
}

.lots {
    background-color: white;
    padding: 180px 50px 180px;
}

.lots_header {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 27px 40px;
}

.lot_cards {
    display: flex;
    gap: 25px;
    font-style: normal;
    line-height: 120%;
    flex-direction: row;
    flex-wrap: wrap;
}

.lot_cards-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: white;
    z-index: 2;
}

.lots__image {
    position: relative;
    flex: 430px 1 0;
    min-height: 450px;
}

.lots__image::after {
    z-index: 1;
}

.lots_image-girl-boy::before {
    background: center / cover no-repeat url("../images/card-lot-01.jpg");
}

.lots_image-door::before {
    background: center / cover no-repeat url("../images/card-lot-02.jpg");
}

.lots_image-shape::before {
    background: center / cover no-repeat url("../images/card-lot-03.jpg");
}

.lot_cards-item-title {
    font-size: 22px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    line-height: 120%;

}

.lot_cards-item-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%
}

.lots__link {
    padding: 30px 0 0 40px;

}

.lots_href {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about {
    background-color: white;
    padding: 0 50px 180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    column-gap: 10px;
}

.about_logo {
    position: relative;
    min-height: 487px;

}

.about_logo::before {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin: 0 95px
}

.about_logo::after {
    width: 144px;
    height: 114px;
    background: center / cover no-repeat url("../images/logo-white.svg");
    z-index: 2;
    margin: 63px 141px
}

.about_section {
    padding-top: 100px;
}

.about_header {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 100px;
}

.about_text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
}

.about_text:last-child {
    padding-bottom: 0;

}

.footer {
    display: grid;
    background-color: white;
    padding: 0 50px 90px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer__menu-link {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
}

.social__media-list {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.social__media-logo {
    height: 48px;
    width: 48px;

}

.social__media-list-items:not(:last-child) {
    padding-right: 48px;
}